@import url('https://fonts.googleapis.com/css?family=Amiko:400,600,700|Cormorant+SC|Sacramento');

body {
  font-family: 'Amiko', sans-serif;
  color: #0e1e31;
  background-color: #fffffb;
}

.page-container {
  display: -webkit-flex;
  display: flex;
}

.one {
  flex: 1 1 auto;
  margin: 0 40px;
}

.follow {
  text-align: center;
}

.two {
  flex: 1 1 auto;
  padding: 0 10px;
  /* border-left: solid 1px #5680ad; */
  box-shadow: -2px 0 2px #2f455d;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #2f455d;
  font-size: 200%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #5680ad;
}

a.no-style {
  text-decoration: none;
  color: #2f455d;
}

article {
  padding: 20px 50px;
  line-height: 150%;
}

h2 {
  font-family: 'Cormorant SC', serif;
  color: #2f455d;
  letter-spacing: 2px;
}

#contact {
  margin: 3% 0%;
}

.email {
  font-weight: 600;
}

form input {
  border-radius: 3px;
  padding: 5px;
}

#about {
  /*background-image: url('coffee.jpg');*/
}

#portfolio {
  /*background-color: #bbbbb3;*/
}

.carousel {
  width: 70%;
  float: none;
}

.dvc {
  height: 200px;
}

.gallery-item img{
  border-radius: 5px;
  margin: 5px;
}

.gallery-item p {
  padding: 5px;
  font-weight: 300;
}
